---
import BaseLayout from '../layouts/BaseLayout.astro'

const wwo = [
	{ id: 1, url: 'Transparency', status: 'launched' },
	{ id: 2, url: 'Map', status: 'coming soon' },
	{ id: 3, url: 'Scramble', status: 'coming soon' },
	{ id: 4, url: 'Filters', status: 'coming soon' },
	{ id: 5, url: 'Remix', status: 'coming soon' },
	{ id: 6, url: 'Solids', status: 'coming soon' },
	{ id: 7, url: 'Sub-optimal', status: 'coming soon' },
	{ id: 8, url: 'Containers', status: 'coming soon' },
	{ id: 9, url: 'Blink', status: 'coming soon' },
	{ id: 10, url: 'Warning', status: 'coming soon' },
	{ id: 11, url: 'Camera', status: 'coming soon' },
	{ id: 12, url: 'Battle', status: 'coming soon' },
	{ id: 13, url: 'Upside-down', status: 'coming soon' },
	{ id: 14, url: 'Doubles', status: 'coming soon' },
	{ id: 15, url: 'Unicode', status: 'coming soon' },
	{ id: 16, url: 'Transition', status: 'coming soon' },
	{ id: 17, url: 'Illumination', status: 'coming soon' },
	{ id: 18, url: 'Trading', status: 'coming soon' },
	{ id: 19, url: 'Bounce', status: 'coming soon' },
	{ id: 20, url: 'Hidden', status: 'coming soon' },
	{ id: 21, url: 'Language', status: 'coming soon' },
	{ id: 22, url: 'Memory', status: 'coming soon' },
	{ id: 23, url: 'Style', status: 'coming soon' },
	{ id: 24, url: 'Counter', status: 'coming soon' },
	{ id: 25, url: 'Empty', status: 'coming soon' },
	{ id: 26, url: 'Texture', status: 'coming soon' },
	{ id: 27, url: 'Spell', status: 'coming soon' },
	{ id: 28, url: 'Tables', status: 'coming soon' },
	{ id: 29, url: 'Surprise', status: 'coming soon' },
	{ id: 30, url: 'Deprecated', status: 'coming soon' },
	{ id: 31, url: 'Spooky', status: 'coming soon' },
]
---

<BaseLayout title=''>
	<div class='main-header'>
		<h1>Weird Web October</h1>
		<p>Making something spooky, and fun everyday in October &#129310;</p>
	</div>
	<ul class='link-group'>
		{
			wwo.map((day) => (
				<li>
					{day.status === 'launched' ? (
						<a
							href={day.url.toLowerCase()}
							aria-label={`wwo submission - ${day.url}`}
							class='link launched'
						>
							Day {day.id} - {day.url}
						</a>
					) : (
						<span class='link coming-soon'>
							Day {day.id} - {day.url}
							<span class='status-tag'>Coming Soon</span>
						</span>
					)}
				</li>
			))
		}
	</ul>
</BaseLayout>

<style>
	.main-header {
		display: grid;
		justify-content: center;
		text-align: center;
		padding: var(--spacing-xl) var(--spacing-s);
		& h1 {
			font-size: var(--text-step-4);
			font-weight: 800;
			padding-bottom: var(--spacing-s);
		}
	}

	.link-group {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: var(--spacing-s);
		max-width: 1400px;
		margin-inline: auto;
		padding: var(--spacing-xl) var(--spacing-s);
	}

	.link-group li {
		list-style: none;
		width: 100%;
	}

	.link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		min-height: 8em;
		padding: var(--spacing-s);
		background-color: var(--white-400);
		color: var(--black-600);
		text-decoration: none;
		font-weight: bold;
		font-size: var(--text-step-0);
		position: relative;
		transition:
			background 0.2s,
			color 0.2s;
	}

	.link.launched:hover {
		background-color: var(--orange-400);
	}

	.link.coming-soon {
		opacity: 0.6;
		pointer-events: none;
		color: var(--black-500);
		background-color: var(--white-800);
		cursor: not-allowed;
		position: relative;
	}

	.status-tag {
		background: var(--lime-400);
		color: var(--black-600);
		padding: var(--spacing-3xs) var(--spacing-xs);
		font-size: var(--text-step--2);
		font-weight: normal;
		border-radius: var(--spacing-3xs);
		position: absolute;
		bottom: 1em;
		right: 1em;
	}
</style>
