---
const wwo = [
	{ id: 1, url: 'Transparency', status: 'launched' },
	{ id: 2, url: 'Map', status: 'coming soon' },
	{ id: 3, url: 'Scramble', status: 'coming soon' },
	{ id: 4, url: 'Filters', status: 'coming soon' },
	{ id: 5, url: 'Remix', status: 'coming soon' },
	{ id: 6, url: 'Solids', status: 'coming soon' },
	{ id: 7, url: 'Sub-optimal', status: 'coming soon' },
	{ id: 8, url: 'Containers', status: 'coming soon' },
	{ id: 9, url: 'Blink', status: 'coming soon' },
	{ id: 10, url: 'Warning', status: 'coming soon' },
	{ id: 11, url: 'Camera', status: 'coming soon' },
	{ id: 12, url: 'Battle', status: 'coming soon' },
	{ id: 13, url: 'Upside-down', status: 'coming soon' },
	{ id: 14, url: 'Doubles', status: 'coming soon' },
	{ id: 15, url: 'Unicode', status: 'coming soon' },
	{ id: 16, url: 'Transition', status: 'coming soon' },
	{ id: 17, url: 'Illumination', status: 'coming soon' },
	{ id: 18, url: 'Trading', status: 'coming soon' },
	{ id: 19, url: 'Bounce', status: 'coming soon' },
	{ id: 20, url: 'Hidden', status: 'coming soon' },
	{ id: 21, url: 'Language', status: 'coming soon' },
	{ id: 22, url: 'Memory', status: 'coming soon' },
	{ id: 23, url: 'Style', status: 'coming soon' },
	{ id: 24, url: 'Counter', status: 'coming soon' },
	{ id: 25, url: 'Empty', status: 'coming soon' },
	{ id: 26, url: 'Texture', status: 'coming soon' },
	{ id: 27, url: 'Spell', status: 'coming soon' },
	{ id: 28, url: 'Tables', status: 'coming soon' },
	{ id: 29, url: 'Surprise', status: 'coming soon' },
	{ id: 30, url: 'Deprecated', status: 'coming soon' },
	{ id: 31, url: 'Spooky', status: 'coming soon' },
]
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class='main-header'>
			<h1>Weird Web October</h1>
			<p>
				Making something spooky, and fun everyday in October &#129310;
			</p>
		</div>
		<ul class='link-group'>
			{
				wwo.map((day) => (
					<li>
						{day.status === 'launched' ? (
							<a
								href={day.url}
								target='_blank'
								rel='noopener noreferrer'
								aria-label={`wwo submission - ${day.url}`}
								class='link launched'
							>
								Day {day.id} - {day.url}
							</a>
						) : (
							<span class='link coming-soon'>
								Day {day.id} - {day.url}
								<span class='status-tag'>Coming Soon</span>
							</span>
						)}
					</li>
				))
			}
		</ul>
	</body>
</html>

<style>
	html {
		font-size: 18px;
		font-family: sans-serif;
		background-color: rgb(21, 15, 34);
		color: rgb(247, 238, 226);
	}

	.main-header {
		text-align: center;
		text-wrap: balance;
		padding: 4em 2em;
		& h1 {
			font-size: clamp(2rem, 2.5vw, 4rem);
			font-weight: 800;
		}
	}

	.link-group {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1em;
		max-width: 1400px;
		margin-inline: auto;
		padding: 2em;
	}

	.link-group li {
		list-style: none;
		width: 100%;
	}

	.link {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 100%; /* Full width of grid cell */
		min-height: 8em;
		padding: 2em;
		background-color: rgb(247, 238, 226);
		color: rgb(21, 15, 34);
		text-decoration: none;
		box-sizing: border-box;
		font-weight: bold;
		font-size: 1.3em;
		position: relative;
		transition:
			background 0.2s,
			color 0.2s;
	}

	.link.launched:hover {
		background-color: rgb(255, 233, 160);
	}

	.link.coming-soon {
		opacity: 0.6;
		pointer-events: none;
		color: #302f2f;
		background-color: #ccccccbb;
		cursor: not-allowed;
		position: relative;
	}

	.status-tag {
		background: rgb(14, 39, 151);
		color: #fff;
		padding: 0.25em 0.7em;
		font-size: 0.8rem;
		font-weight: normal;
		border-radius: 2em;
		margin-top: 0.6em;
		position: absolute;
		bottom: 1em;
		right: 1em;
	}
</style>
